* {
    padding: 0;
    margin: 0;
}
body {
background-color: rgb(168, 166, 166);}
.wrapper {
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-image: url(../img/map_bg.png);
}
header {
    padding: 25px 40px;
    background-color: #fff;
}
.header_menu {
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-family: sans-serif;
    font-size: 16px;
}
.header_menu > li {
    display: inline-block;
}
.header_menu a,
.header_menu a:visited,
.header_menu a:active {
    color: black;
    text-decoration: none;
}
.header_menu > .active > a {
    color: #fa4c6f;
    font-size: 20px;
    font-weight: bold;
}
.profile {
    text-transform: uppercase;
    flex-basis: 60%;
    text-align: right;
    padding-right: 15px;
}
main {
    position: relative;
}
.taskBlock {
    position: absolute;
    top: 5px;
    left: 20px;
    width: 25%;
    height: 90vh;
    overflow: auto;

}

.newTaskButton {
    box-sizing: border-box;
    background-color: #fff;
    color: #4c71fe;
    font-size: 18px;
    text-align: center;
    height: 50px;
    padding-top: 10px;
    margin-bottom: 7px;
}
.newTaskButton:hover {
    cursor: pointer;
}
.taskCard {
    background-color: #fff;
    padding: 15px 10px;
    margin-bottom: 7px;
    text-align: left;
}
.newTaskForm {
    position: absolute;
    transition: all 300ms ease-in-out;
	right: -100vh;
	top: 0px;
	z-index: 9;
    width: 40%;
    min-height: 80vh;
    background-color: #fff;
}
form.show {
    right: 0;
}
.editTaskForm {
    position: absolute;
	right: 0;
	top: 0px;
    width: 505px;
    height: 100vh;
    background-color: #fff;
}
.wrapper__newTaskText {
    padding: 15px 30px;
    background-color: #f1f1f1;
}
.caption {
    font-size: 14px;
    color: #909090;
    margin-bottom: 15px;
}
.newTask__text {
    font-size: 24px;
    color: #1a1b1f;
}
.newTask__location {
    margin: 15px 0;
}
.newTask__button {
    width: 150px;
    height: 40px;
    margin-top: 15px;   
    color: #fff;
    background-color: #4c71fe;
    border: 1px solid #4c71fe;
    border-radius: 4px;
}
.wrapper_location,
.wrapper_serviceType,
.wrapper_plumberTask,
.wrapper_electicianTask,
.wrapper_description,
.wrapper_gardenerTask,
.wrapper_housekeeperTask,
.wrapper_cookingTask {
    padding: 15px 30px;
    border-bottom: 1px solid #f1f1f1;
}
.field {
    color: #1a1b1f;
    font-size: 16px;
    border: none;
}
.field::placeholder {
    color: #858586;
}
.serviceType {
    display: inline-block;
    text-align: center;
}
.serviceType > label {
    display: inline-block;
    width: 75px;
    height: 75px;
    border: 1px solid #fff;
    border-radius: 50%;
}
.serviceType > input:checked + label {
    border: 1px solid #4c71fe;
}
.elec {
    background: center center border-box no-repeat url(../img/electician.svg);
}
.plum {
    background: center center border-box no-repeat url(../img/plumber.svg);
}
.gard {
    background: center center border-box no-repeat url(../img/gardener.svg);
}
.hous {
    background: center center border-box no-repeat url(../img/housekeeper.svg);
}
.cook {
    background: center center border-box no-repeat url(../img/cook.svg);
}
.wrapper_serviceType input,
.wrapper_plumberTask input,
.wrapper_electicianTask input,
.wrapper_gardenerTask input,
.wrapper_housekeeperTask input,
.wrapper_cookingTask input {
    display: none;
}
.task {
    color: #1A1B1F;
    font-size: 16px;
    display: inline-block;
    width: 32%;
    text-align: center;
    margin-bottom: 15px;
}
.taskName:hover {
    border: 1px solid #4c71fe;
}
.taskName {
    display: inline-block;
    border: 1px solid #fff;
    padding: 5px 10px;
}
.task > input:checked + label {
    border: 1px solid #4c71fe;
    border-radius: 20px;
}