$white: #ffffff;
$grey: #a8a6a6;
$neon-blue: #4c71fe;
$suva-grey: #909090;
$black-russian: #1a1b1f;
$white-smoke: #f1f1f1;

$url-background: "../img/map_bg.jpg";
$url-elec: "../img/electician.svg";
$url-plum: "../img/plumber.svg";
$url-gard: "../img/gardener.svg";
$url-hous: "../img/housekeeper.svg";
$url-cook: "../img/cook.svg";
